.header {
  background-color: #50104A;
  text-align: center;
}


.footer {
  background-color: #50104A;
  color: white;
  padding: 10px;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100vw;
}

.spacing{
  padding-top:1em;
  padding-bottom:1em;
}

.logo{
  width: 50px;
  padding-right: .5em;
}