.header {
  background-color: #50104a;
  text-align: center;
}

.transTable {
  height: auto;
  overflow: scroll;
}

.footer {
  background-color: #50104a;
  color: white;
  padding: 10px;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100vw;
  display: inline-block;
}

.spacing {
  padding-top: 1em;
  padding-bottom: 1em;
}
.float-right {
  float: right;
}
.logo {
  width: 50px;
  padding-right: 0.5em;
}
