.header {
  background-color: #50104a;
  text-align: center;
}
.applyButton {
  background-color: #50104a !important ;
  color: white;
  border-color: #50104a !important;
}
.applyButton:focus {
  box-shadow: 0 0 0 0.25rem rgb(170 34 157 / 50%) !important;
}
.footer {
  background-color: #50104a;
  color: white;
  padding: 10px;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100vw;
  display: inline-block;
}
.footerFix {
  margin-bottom: 3em;
}
.spacing {
  padding-top: 1em;
  padding-bottom: 1em;
}
.float-right {
  float: right;
}
.logo {
  width: 50px;
  padding-right: 0.5em;
}
